* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
        font-family: 'Oranienbaum', serif;
        font-family: 'Poppins', sans-serif;
}

header{
    background: #FAF9F8;
    height: 17vw;
}

.cb-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.title{
    font-size: 49.2px;
    margin-left: 7vh;
    margin-top: 17vh;
}

.title1 {
    font-size: 49.2px;
    margin-left: 7vh;
}

a{
    padding: 20px;
    text-decoration: none;
    color: #3B3B3B;
}

main {
    height: 30vw;
    background: #F1C9BF;
}

.subtitle {
    margin-left: 7vh;

}

.start-name {
    font-size: 16px;
    color: #3B3B3B;
    padding: 16px;
    margin-left: 20px;
    letter-spacing: 2.5px;
}